.main{
    float: left;
    border: solid black;
    width: 49%;
}

aside{
    float: right;
    border: solid black;
    width: 49%;
}

h2{
    float: left;
    background-color: rgb(187, 187, 187);
    height: 50%;
    width: 100px;
    margin-left: 20px;

}

.summary{
    float: left, inline-start;
    background-color: rgb(0, 125, 129);
    height: 100px;
    text-align: left;
    

}